/* Write your CSS here */
.controller-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}

@media screen and (min-width: 768px) {
  .controller-controls-container {
    align-items: center;
  }
}
.responsive-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  max-width: 550px;
}

.checkbox-group {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
